/* 
    CSS File for Leaflet.Dimensions plugin
    Author     : phumez
*/

*{
    box-sizing: border-box;
}

.lr-ctl{
    width: 26px;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    text-align: center;
    background-color: #FFFFFF;
}

.lr-ctl:hover{
    width: 95px;
    height: 95px;
    position: relative;
}

.lr-ctl:hover .lr-span{
    display: none;
}

.lr-ctl:hover .lr-input-container{
    margin-top: 3px;
}

.lr-input-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lr-input{
    width: 40px;
    height: 24px;
}

#lr-btn{
    width: auto;
    max-width: 60px;
    height: 26px;
    margin: auto;
    margin-top: 10px;
    background-color: #5cb85c;
    border: 1px solid rgba(37,86,37,0.5);
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    vertical-align: middle;
}

#lr-btn:hover{
    background-color: #449d44;
    cursor: pointer;
}

.lr-label{
    margin-bottom: 0px; 
}

.fa-lg{
    line-height: 0.7em;    
}

